@model OnLineBankingApp.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1 class="bg-secondary text-light">Manager Dash Board</h1>
<div class="card" style="width: 18rem;">
    <div class="card-header bg-dark text-light">
        Welcome Manager: @Html.DisplayFor(model => model.CustomerName)
        <br />
        @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.CustomerName) : @Html.DisplayFor(model => model.CustomerName)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.DateOfBirth) : @Html.DisplayFor(model => model.DateOfBirth)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.PAN) : @Html.DisplayFor(model => model.PAN)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(model => model.Address)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.City) : @Html.DisplayFor(model => model.City)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.State) : @Html.DisplayFor(model => model.State)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.PinCode) : @Html.DisplayFor(model => model.PinCode)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.Phone) : @Html.DisplayFor(model => model.Phone)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.City) : @Html.DisplayFor(model => model.City)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.Password) : @Html.DisplayFor(model => model.Password)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.RoleType) : @Html.DisplayFor(model => model.RoleType.RoleTypeName)</li>
        <li class="list-group-item"> @Html.DisplayNameFor(model => model.Gender) : @Html.DisplayFor(model => model.Gender.GenderType)</li>
    </ul>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model?.CustomerID">Edit</a>
    @*<a asp-action="Index">Back to List</a>*@
</div>
